<h1>Votes</h1>
<div ng-controller="VoteCtrl">  
<form>
<input type="text" ng-model="newVote.name">
</form>


<ul>
<!-- will loop through the entries array -->
<li ng-repeat="vote_option in vote_options">
  {{vote_option.title}}
</li>  
</ul> 
</div>