<h1>Votes</h1>
<div ng-controller="VoteCtrl">  
<form ng-submit="addOption()">
<input type="text" ng-model="newVoteOption.title">
<input type="submit" value="Add" ng-placeholder="Add a vote option">
</form>


<ul>
<!-- will loop through the entries array -->
<li ng-repeat="voteOption in voteOptions">
  {{voteOption.title}}
  <span ng-show="voteOption.topVote" ng-class="{hightlight: voteOption == lastVote}" class="highlight topVote">TOP VOTE</span>
</li>  
</ul> 
<button ng-click="selectTopVote()">Select top vote</button>
</div><!-- ng-controller="VoteCtrl" -->